API_KEY=changeme
IG_USERNAME=
IG_PASSWORD=
IG_TOTP_SEED=
IG_SESSIONID=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
COVER_IMAGE_URL=https://i.ibb.co/sp6WvzJK/1.jpg
COVER_IMAGE_URLS=
THUMBNAIL_URL=
COMMENT_TEXT=follow me 🔥
COMMENT_ENABLED=0
SESSION_FILE=session.json
MAX_UPLOADS_PER_DAY=2
IG_PROXY=
AUTO_FEED_LIMIT=20
LOG_LEVEL=INFO
TOTP_PROVIDER_URL=https://ig-totp.tanbirst2st2.workers.dev
SOURCE_USERNAMES=
CF_ACCOUNT_ID=
CF_API_TOKEN=
